h1{
    color: rgb(21, 82, 216);
}
p{
    color: white;
    font-size: 18px;
    
}
strong{
    color: rgb(21, 82, 216);
    font-size: 25px;
    
}
h3{
    color: white
}
img{
    width: 550px;
    height: 400px;
}