.card {
    width: 500px;
    box-shadow: 0 30px 30px 0 none;
    transition: .03s;
    background-color: black;
    left: 0;
    top: 50%;

  }
  
  .card:hover {
    box-shadow: 0 30px 30px white;
  }
  
  
  h3{
      color: white;
  }
  
  